{{ define "index.tmpl" }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div class="root">
            <header>
                <h2>Esse domínio está à venda!</h2>
                <h3>
                    Se estiver interessado(a), entre em contato no formulário
                    abaixo!
                </h3>
            </header>
            <div class="form-box">
                {{ if .success_message }}
                <div class="success_message">
                    <p>
                        {{ .success_message }}
                    </p>
                </div>
                {{ end }}

                {{ if .error_message }}
                <div class="error_message">
                    <p>
                        {{ .error_message }}
                    </p>
                </div>
                {{ end }}

                <form method="post" action="/">
                    <div>
                        <label for="name">Nome:</label>
                        <input
                            class="input"
                            type="text"
                            id="name"
                            name="name"
                            value="{{ .form.Name }}"
                            required
                        />
                    </div>
                    <div>
                        <label for="email">E-mail:</label>
                        <input
                            class="input"
                            type="email"
                            id="email"
                            name="email"
                            value="{{ .form.Email }}"
                            required
                        />
                    </div>
                    <div>
                        <label for="phone">Fone/Whatsapp:</label>
                        <input
                            class="input"
                            type="tel"
                            id="phone"
                            name="phone"
                            value="{{ .form.Phone }}"
                            required
                        />
                    </div>
                    <div>
                        <label for="message">Mensagem:</label>
                        <textarea
                            class="input"
                            rows="5"
                            id="message"
                            name="message"
                            required
                            >{{ .form.Message }}</textarea
                        >
                    </div>
                    <div class="center">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
{{ end }}
