body {
  font-family: "Roboto";
  background: #a2d2ff;
  margin: 0;
  padding: 0;
}

.general {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  align-content: center;
  align-items: center;
  height: 100vh;
}
.info {
}
.info h2 {
  margin: 0;
  flex-wrap: wrap;
}
.info h2 span {
  color: #219ebc;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  line-height: 1;
}
.info h2 .domain {
  color: #023047;
  font-weight: bold;
  font-size: 6vw;
  line-height: 1;
  margin: 0;
}
h3 {
  font-size: 2rem;
}
.form-box {
  width: 80%;
  margin: 0 auto;
}
form {
  display: grid;
  gap: 20px;
}
form > div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
form label {
  font-weight: 300;
  color: #219ebc;
}
input {
  width: 100%;
  padding: 20px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #023047;
  font-size: 1.2rem;
}
textarea {
  width: 100%;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #023047;
  color: #023047;
}

button {
  background: #219ebc;
  color: #023047;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
  width: 100%;
  border: 0;
  text-transform: uppercase;
}

.success_message {
  background-color: #8ac926;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.error_message {
  background-color: #ff595e;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 767px) {
  .general {
    display: grid;
    grid-template-columns: 1fr;
  }
  .form-box {
    width: 100%;
    margin: 0;
  }
}
