:root {
    --primary-color: #488aad;
    --secondary-color: #294250;
    --success-color: #3d8c28;
    --error-color: #832323;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--primary-color);
    color: #fff;
    align-items: center;
    justify-content: center;
}

.root {
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .root {
        width: 768px;
    }
}

header {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 3px #232323;
}
header h2 {
    font-weight: bold;
    font-size: 20pt;
}

.form-box {
    background-color: var(--secondary-color);
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 3px #232323;
    order: 1;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    margin-top: 5px;
}

button {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin-top: 5px;
    background-color: #4c870d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.form div {
    margin-top: 20px;
}

.center {
    text-align: center;
}

.success_message {
    background-color: var(--success-color);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}
.error_message {
    background-color: var(--error-color);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}
